@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap&subset=latin-ext');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    background-color: #303030;
   
    
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 95vh;
    width: 500px;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    
}

.card::before {
    content: '';
    position: absolute;
    background: white;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 70px;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);

}

.card h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-top: 50px;
    color: #fff;
}

.card h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin-top: 50px;
    color: #fff;
}



.height,
.weight {
    width: 280px;
    height: 80px;
    font-size: 1.3rem;
    margin-left: 110px;
    background: transparent;
    border: none;
    border-bottom: 3px solid white;
    outline: none;
    color: #fff;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

form input::placeholder{
    font-size: 1rem;
    color: #facec0;
}

.bmi {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

.bmi span {
    font-size: 1.2rem;
}

.bmi h4{
    font-size: 1.2rem;
    color: #e9eff0;
    
}

.reset {
    width: 160px;
    height: 45px;
    border-radius: 30px;
    font-size: 1rem;
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
    color: #fff;
    font-weight: 700;
    border: none;
    margin-top: 50px;
    margin-left: 168px;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    opacity: 0.8;
    outline: none;
    
}

.reset:hover {
    width: 160px;
    height: 45px;
    border-radius: 30px;
    font-size: 1rem;
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
    color: #fff;
    font-weight: 700;
    border: none;
    margin-top: 50px;
    margin-left: 168px;
    cursor: pointer;
    opacity: 1;
    
    
}